<!--<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro" *ngIf="data.length > 0">
      Horno {{ data[0]['nombre']}}
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="alarma()">Cargar Datos</button>

  </div>
</ion-content>-->
<ion-header>
  <ion-navbar color="header">
    <ion-title>
      Internet of Things (IoT)
    </ion-title>

    <ion-buttons end style="display: none;">
      <button ion-button icon-only (click)="detener()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>
<ion-content no-padding style="background-color: #f4f4f4">
  <!-- Horno uno -->
  <ion-card *ngFor="let i of data; index as pos" color="{{ leerData[pos]['leer'] == 1 ? (i['temperatura'] > 90 ? 'sobrecalendado' : 'tem_normal') : 'tem_normal'}}">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <img src="{{ img }}" height="100" width="50">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 no-padding >
          <ion-item color="{{ leerData[pos]['leer'] == 1 ? (i['temperatura'] > 90 ? 'sobrecalendado' : 'tem_normal') : 'tem_normal'}}">
            <strong>Horno {{ i['nombre'] }}</strong>
          </ion-item>
          <ion-item color="{{ leerData[pos]['leer'] == 1 ? (i['temperatura'] > 90 ? 'sobrecalendado' : 'tem_normal') : 'tem_normal'}}">
            <strong>Temperatura:</strong> {{ leerData[pos]['leer'] == 1 ? i['temperatura'] : 0 }}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button full small round color="dark" (click)="iniciarleer(pos)"> Iniciar</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full small round color="dark" (click)="dejardeleer(pos)"> Stop</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row>
    <ion-col col-12>
      <button ion-button full small round icon-end color="iniciar" (click)="iniciarMonitor()">
        Iniciar Lectura
        <ion-icon name="checkmark-circle"> </ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button full small round icon-end color="stop" (click)="detener()">
        Detener Lectura
        <ion-icon name="close-circle"> </ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>
